NVIDIA_API_KEY=your_nvidia_api_key_here
NVIDIA_API_KEY_B1=your_nvidia_backup_key_1_here
NVIDIA_API_KEY_B2=your_nvidia_backup_key_2_here

OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_API_KEY_B1=your_openrouter_backup_key_1_here
OPENROUTER_API_KEY_B2=your_openrouter_backup_key_2_here

GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_API_KEY_B1=your_google_backup_key_1_here
GOOGLE_API_KEY_B2=your_google_backup_key_2_here
